@media (max-width: 800px) { 

    body {
        width: 100%;
        height: 100%;
    }

    p, a, h1 {
        font-size: 20px;
    }

    .textwindow {
        padding-top: 75px;
        padding-bottom: 75px;
    }

    .head {
        padding-top: 10px;
        height: 20px;
    }

    .ateg {
        margin: 10px;
    }

    .ateg::after{
        height: 1.5px;
    }

    .ges {
        font-size: 35px;
        padding-right: 5px;
    }

    .gamebox {
        padding: 10px;
        display: flex;
        justify-content: space-betwee;
        flex-direction: column;
    }

    .line {
        padding: 25px;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    .block {
        width: 75px;
        height: 75px;
        border: 3px solid black;
        border-radius: 13px;
    }
}

@media (max-width: 500px) {
    
    p, a, h1 {
        font-size: 15px;
    }

    .ges {
        font-size: 25px;
    }

    .block {
        width: 50px;
        height: 50px;
        border: 3px solid black;
        border-radius: 13px;
    }
}